@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url(reset.css);

:root{
    --cor-de-fundo: hsl(212, 45%, 89%);
    --cor-primaria:  hsl(0, 0%, 100%);
    --cor-secundaria: hsl(218, 44%, 22%);
    --cor-terciaria: hsl(220, 15%, 55%);

    --fonte-principal: "Outfit", sans-serif;
}

body{
    background-color: var(--cor-de-fundo);
    height: 100vh;
    font-family: var(--fonte-principal);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container{
    width: 330px;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 0;
    flex-direction: column;
    background-color: var(--cor-primaria);
    border-radius: 20px;
    box-shadow: 5px 10px rgba(0, 0, 0, 0.007);
}

.container__imagem{
    width: 90%;
    border-radius: 10px;
}

.container__titulo{
    color:var(--cor-secundaria);
    padding: 0px 30px;
    font-size: 1.4rem;
    font-weight: 700;
    text-align: center;
}

.container__texto{
    color: var(--cor-terciaria);
    font-size: 15px;
    margin: 0 40px;
    padding-bottom: 1.5em;
    text-align: center;
}

.rodape{
    margin-top: 2rem;
}

.rodape__paragrafo{
    font-family: var(--fonte-paragrafo);
    font-weight: 300;
}

.rodape__links{
    text-decoration: none;
}

@media screen and (max-width: 750px) {
    .container{
        width: 350px;
        height: 500px;
    }

    .rodape{
        width: 300px;
        text-align: center;
        margin-bottom: 1em;
    }
}